/*
*/
/* 
    Created on : 7/06/2018, 05:15:17 PM
    Author     : DarKPhuRioN
*/

@import URL('https://fonts.googleapis.com/css?family=Dancing+Script');

.Container
{
    margin: 25px 30% 5px 30%;
    border: 1px solid black;
}
.items{
    border: 1px solid #993D2B;
}
.titlemainh2 {
    text-align:center;
}

h2 {
    display: inline-block;
    position: relative;
    color: #993D2B;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

h2::after, h2::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2.5px;
    background-color: currentColor;
    top:0.6em;
    transform:scale(0);
    transition:all 0.2s ease-in;
}
h2::after {
    right:-60px;
}
h2::before {
    left:-60px;
}
h2:hover::before, h2:hover::after {
    transform:scale(1);
}

#Word{
    display: none;
}
.btn{
    background-color: #f44336;
    color: black;
    border: 2px solid #f44336;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 24%;
}
.btn:hover{
    cursor: pointer;
    background-color: #fff ;
    color:red;
    border: 2px solid #f44336
}

.Body {

    vertical-align: middle;
    display: block;

}
.btn:last-child{
    margin-right: 25%;
    
}
.btn:first-child{
    margin-left: 25%
}
table{
    margin-left: 30%;
    width: 300px;
    text-align: center;
    border : 1px solid black;
}
